@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background: linear-gradient(to top, #21b989 0%, #117052 100%); */
  /* background: linear-gradient(to top, #147053 0%, #094130 100%); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stbkit-background {
  background: linear-gradient(to top, #21b989 0%, #117052 100%);
}

.stbkit-selectionstyle-outline.isFocused {
  outline: 4px solid #d1cd00;
}

.stbkit-selectionstyle-fill-modern {
  transition: all 0.1s ease-in-out;
}

.stbkit-selectionstyle-fill-modern.isFocused {
  background-color: #ffffff;
  color: #171717;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* .stbkit-selectionstyle-fill-modern.isFocused>svg {
  color: #171717;
} */

.stbkit-selectionstyle-scale {
  transition: all 0.1s ease-in-out;
  box-shadow: none;
  /* outline-width: 0px;
  outline-color: white;
  outline-style: solid;
  outline-offset: 0px; */
  border-width: 0px;
  border-color: white;
  border-style: solid;
}

.stbkit-selectionstyle-scale.isFocused {
  transform: scale(1.2);
  /* outline-width: 2px;
  outline-offset: 2px; */
  /* border-width: 2px; */
  z-index: 2;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}


.stbkit-selectionstyle-fill.isFocused {
  background-color: rgb(228, 225, 17) !important;
  /* background: linear-gradient(to top, #c7c400 0%, #ece81a 100%) !important; */
}

.stbkit-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.stbkit-list-item {
  padding: 5px 10px;
}

.stbkit-list-item:nth-child(odd) {
  background-color: #137256;
}

.stbkit-list-item:nth-child(even) {
  background-color: #1a8f6a;
}

.stbkit-list-item-text {
  color: white;
  font-size: 25px;
}

.stbkit-selectionstyle-fill.isFocused>.stbkit-list-item-text {
  color: black;
}

.scroll-row {
  overflow-x: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

*::-webkit-scrollbar {
  display: none;
}

.usermenu-item>.usermenu-item-image {
  outline: 0px solid #ffffff;
  border: 4px solid transparent;
  transition: all 0.1s ease-in-out;
}

.usermenu-item.isFocused>.usermenu-item-image {
  outline: 4px solid #ffffff;
  border: 4px solid #171717;
  background-color: #ffffff;
  color: #171717;
}

.usermenu-item>.usermenu-item-text {
  transition: all 0.1s ease-in-out;
}

.usermenu-item.isFocused>.usermenu-item-text {
  background-color: #ffffff;
  color: #171717;
}

.shadow-modern {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.show-row {
  padding-top: 25px;
  padding-bottom: 25px;
}

.scroll-row>* {
  scroll-margin: 80px;
}

.livetv-controls {
  position: fixed;
  bottom: -500px;
  width: 100%;
  max-height: 856px;
  opacity: 0;
  scale: 0.75;
  transition: all 0.1s ease-in-out;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.90) 75%);
}

.livetv-controls.isFocused {
  bottom: 0;
  opacity: 1;
  scale: 1;
}

.bg-l2-active {
  opacity: 0.5;
  transition: all 0.1s ease-in-out;
  scroll-margin-right: calc(100vw - 475px);
}

.bg-l2-active.isFocused {
  background-color: #262626;
  opacity: 1;
}

.home-row {
  scroll-margin-top: 333px;
}

#root {
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100vw;
  height: 100dvh; */
  /* --stbkit-color-text: #666666; */
  width: 1280px !important;
  /* height: 720px !important; */
  height: 100dvh !important;
  max-height: 100dvh !important;
  min-height: 100dvh !important;
  max-width: 1280px !important;
  /* max-height: 720px !important; */
  min-width: 1280px !important;
  /* min-height: 720px !important; */
  overflow: hidden !important;
  overflow: hidden;
}

.main-layout {
  position: fixed;
  top: 0;
  left: 0;
  /* width: 100vw;
  height: 100dvh; */
  /* --stbkit-color-text: #666666; */
  width: 1280px !important;
  /* height: 720px !important; */
  height: 100dvh !important;
  max-height: 100dvh !important;
  min-height: 100dvh !important;
  max-width: 1280px !important;
  /* max-height: 720px !important; */
  min-width: 1280px !important;
  /* min-height: 720px !important; */
  overflow: hidden !important;
}

.stbkit-color-text {
  color: var(--stbkit-color-text) !important;
}

.live-control-row {}

.live-control-row>.p-3.stbkit-selectionstyle-fill-modern.rounded-full.isFocused {
  background-color: #117052;
  color: white;
}